<style>
  html,
  body {
    width: 100%;
  }

  #map {
    width: 120%;
    height: 350px;

  }
</style>


<section class="container">
  <div id="view" class="row">
    <!-- Componentes para filtrar filtro-->
    <div id="barra-filtro" class="col-md-3">
      <!-- Buscador -->
      <app-buscador [secResBusqueda]=true (eventoEnvio)="setListaHoteles($event)"></app-buscador>
      <!-- Filtro -->
      <!-- <app-filtro></app-filtro> -->
      <!-- Maps -->
      <!-- <app-map></app-map> -->

    </div>

    <!-- Tarjetas para mostrar los hoteles resultanted de la busqueda-->
    <div id="resultado-busqueda" class="col">
      <!-- Tarjeta por cada hotel -->
      <app-card [hotel]=hotel *ngFor="let hotel of listHoteles"></app-card>


      <!-- Mensaje si no hay resultados -->
      <div class="row justify-content-center my-5" *ngIf="!listHoteles.length">
        <!-- <div class="row justify-content-center" *ngIf="!listHoteles.length && !loading"> -->
        <p class="col col-md-4 alert alert-secondary text-center">No se ha encontrado resultados.</p>
      </div>
    </div>
  </div>
</section>
