<section class="container">
  <div id="view" class="row">
    <!-- Componentes para filtrar filtro-->
    <div id="barra-filtro" class="col-md-3">
      <!-- Buscador -->
      <app-buscador></app-buscador>
      <app-filtro></app-filtro>
      <!-- Google maps -->
      <style>
        html, body {
          width: 100%;
        }
        #map {
          width: 120%;
          height: 350px;

        }
        </style>

      <div class="container col-12 " >
      <div id='map'>
        </div>
      </div>
    </div>

    <!-- Tarjetas para mostrar los hoteles resultanted de la busqueda-->
    <div id="resultado-busqueda" class="col">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
  </div>
</section>
