<div class="container">
  <h5>Lista Reservas</h5>

      <!-- Table -->
      <ul role="table" class="ps-0 table">

        <!-- Data header -->
        <div class="row info-header d-none d-sm-flex">
          <div class="col-md-2">
            <div class="ex1">Código</div>
          </div>
          <div class="col-md-2">
            <div class="ex1">Fecha Entrada</div>
          </div>
          <div class="col-md-2">
            <div class="ex1">Fecha Salida</div>
          </div>
          <div class="col-md-2">
            <div class="ex1">Importe</div>
          </div>
          <div class="col-md-1">
          </div>
          <div class="col-md-1">
          </div>
        </div>

        <!-- Data row-->
        <div class="row datos" *ngFor="let reserva of listaReservas | paginate: {itemsPerPage:10, currentPage: page}">
          <div class="col-md-2">
            <div class="ex1">{{reserva.codigo}}</div>
          </div>
          <div class="col-md-2">
            <div class="ex1">{{reserva.fechaEntrada | date : 'short'}}</div>
          </div>
          <div class="col-md-2">
            <div class="ex1">{{reserva.fechaSalida | date : 'short'}}</div>
          </div>
          <div class="col-md-2">
            <div class="ex1">{{reserva.importe | currency:'EUR':'symbol':'1.2-2'}}</div>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-1">
            <a role="button" (click)="cambiarApartado('hotel')"><i class="bi bi-pencil-square"></i></a>
          </div>
          <div class="col-md-1">
            <a role="button"><i class="bi bi-trash3"></i></a>
          </div>
        </div>

      </ul>
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
