<div class="container">
  <h5>Lista Reservas</h5>

  <form>
    <div class="form-group row" id="info">
      <div class="col-sm">
        <label for="ex1" id="ex1">Código</label>
      </div>
      <div class="col-sm">
        <label for="ex1" id="ex1">F. Entrada</label>
      </div>
      <div class="col-sm">
        <label for="ex1" id="ex1">F. Salida</label>
      </div>
      <div class="col-sm">
        <label for="ex1" id="ex1">Importe</label>
      </div>
      <div class="col-sm-1">
      </div>
      <div class="col-sm-1">
      </div>
    </div>

    <br>

    <div class="form-group row" id="datos">
      <div class="col-sm">
        <label for="ex1" class="ex1" >12345</label>
      </div>
      <div class="col-sm">
        <label for="ex1" class="ex1">08/07/2022</label>
      </div>
      <div class="col-sm">
        <label for="ex1" class="ex1">12/07/2022</label>
      </div>
      <div class="col-sm">
        <label for="ex1" class="ex1">200€</label>
      </div>
      <div class="col-sm-1">
        <a role="button" (click)="cambiarApartado('reserva')"><i class="bi bi-pencil-square"></i></a>
      </div>
      <div class="col-sm-1">
        <a role="button"><i class="bi bi-trash3"></i></a>
      </div>
    </div>

    <br>

    <div class="form-group row" id="datos">
      <div class="col-sm">
        <label for="ex1" class="ex1" >45678</label>
      </div>
      <div class="col-sm">
        <label for="ex1" class="ex1">10/07/2022</label>
      </div>
      <div class="col-sm">
        <label for="ex1" class="ex1">16/07/2022</label>
      </div>
      <div class="col-sm">
        <label for="ex1" class="ex1">300€</label>
      </div>
      <div class="col-sm-1">
        <label for="ex3"><i class="bi bi-pencil-square"></i></label>
      </div>
      <div class="col-sm-1">
        <label for="ex3"><i class="bi bi-trash3"></i></label>
      </div>
    </div>

    <br>

    <div class="form-group row" id="datos">
      <div class="col-sm">
        <label for="ex1" class="ex1" >98765</label>
      </div>
      <div class="col-sm">
        <label for="ex1" class="ex1">20/07/2022</label>
      </div>
      <div class="col-sm">
        <label for="ex1" class="ex1">27/07/2022</label>
      </div>
      <div class="col-sm">
        <label for="ex1" class="ex1">650€</label>
      </div>
      <div class="col-sm-1">
        <label for="ex3"><i class="bi bi-pencil-square"></i></label>
      </div>
      <div class="col-sm-1">
        <label for="ex3"><i class="bi bi-trash3"></i></label>
      </div>
    </div>

    <br>

    <div class="form-group row" id="datos">
      <div class="col-sm">
        <label for="ex1" class="ex1" >32146</label>
      </div>
      <div class="col-sm">
        <label for="ex1" class="ex1">26/07/2022</label>
      </div>
      <div class="col-sm">
        <label for="ex1" class="ex1">30/07/2022</label>
      </div>
      <div class="col-sm">
        <label for="ex1" class="ex1">1500€</label>
      </div>
      <div class="col-sm-1">
        <label for="ex3"><i class="bi bi-pencil-square"></i></label>
      </div>
      <div class="col-sm-1">
        <label for="ex3"><i class="bi bi-trash3"></i></label>
      </div>
    </div>
  </form>
</div>
