
<div class="container">
  <h5>Datos Cliente</h5>

  <form>
    <div class="form-group row">
      <div class="col-sm">
        <label>Nombre</label>
      </div>
      <div class="col-sm">
        <input type="text" readonly class="form-control-plaintext" placeholder="Nombre">
      </div>
      <div class="col-sm align-items-center">
        <a role="button"><i class="bi bi-pencil-square"></i> </a>
        <a role="button"><i class="bi bi-trash"></i> </a>
      </div>
    </div>

    <hr>

    <div class="form-group row">
      <div class="col-sm">
        <label>Apellido</label>
      </div>
      <div class="col-sm">
        <input type="text" readonly class="form-control-plaintext" placeholder="Apellido">
      </div>
      <div class="col-sm align-items-center">
        <a role="button"><i class="bi bi-pencil-square"></i> </a>
        <a role="button"><i class="bi bi-trash"></i> </a>
      </div>
    </div>

    <hr>

    <div class="form-group row">
      <div class="col-sm">
        <label>E-mail</label>
      </div>
      <div class="col-sm">
        <input type="email" readonly class="form-control-plaintext" placeholder="E-mail">
      </div>
      <div class="col-sm align-items-center">
        <a role="button"><i class="bi bi-pencil-square"></i> </a>
        <a role="button"><i class="bi bi-trash"></i> </a>
      </div>
    </div>

    <hr>

    <div class="form-group row">
      <div class="col-sm">
        <label>DNI</label>
      </div>
      <div class="col-sm">
        <input type="text" readonly class="form-control-plaintext" placeholder="DNI">
      </div>
      <!-- Botones editar y eliminar-->
      <div class="col-sm align-items-center">
        <a role="button"><i class="bi bi-pencil-square"></i> </a>
        <a role="button"><i class="bi bi-trash"></i> </a>
      </div>
    </div>

  </form>
</div>
