<div class="container">
  <h5>Datos Personales</h5>

  <form>
    <div class="form-group row" id="linia">
      <div class="col-sm">
        <label for="ex1" id="ex1">Nombre</label>
      </div>
      <div class="col-sm">
        <input type="text" readonly class="form-control-plaintext" id="ex2" placeholder="Nombre" >
      </div>
      <div class="col-sm align-items-center">
        <label for="ex3"><i class="bi bi-pencil-square"></i> </label>
        <label for="ex4"><i class="bi bi-trash"></i> </label>
      </div>
    </div>

    <br>

    <div class="form-group row" id="linia">
      <div class="col-sm">
        <label for="ex1" id="ex1">Apellido</label>
      </div>
      <div class="col-sm">
        <input type="text" readonly class="form-control-plaintext" id="ex2" placeholder="Apellido" >
      </div>
      <div class="col-sm align-items-center">
        <label for="ex3"><i class="bi bi-pencil-square"></i> </label>
        <label for="ex4"><i class="bi bi-trash"></i> </label>
      </div>
    </div>

    <br>

    <div class="form-group row" id="linia">
      <div class="col-sm">
        <label for="ex1" id="ex1">E-mail</label>
      </div>
      <div class="col-sm">
        <input type="email" readonly class="form-control-plaintext" id="ex2" placeholder="E-mail" >
      </div>
      <div class="col-sm align-items-center">
        <label for="ex3"><i class="bi bi-pencil-square"></i> </label>
        <label for="ex4"><i class="bi bi-trash"></i> </label>
      </div>
    </div>

    <br>

    <div class="form-group row" id="linia">
      <div class="col-sm">
        <label for="ex1" id="ex1">DNI</label>
      </div>
      <div class="col-sm">
        <input type="text" readonly class="form-control-plaintext" id="ex2" placeholder="DNI" >
      </div>
      <div class="col-sm align-items-center">
        <label for="ex3"><i class="bi bi-pencil-square"></i> </label>
        <label for="ex4"><i class="bi bi-trash"></i> </label>
      </div>
    </div>

  </form>
</div>
