<div class="container">
  <h5>Panel del Administrador</h5>

  <form>
    <div class="form-group row border-b">
      <div class="col-sm">
        <label for="ex1" id="ex1">Usuario</label>
      </div>
      <div class="col-sm">
        <input type="text" readonly class="form-control-plaintext" id="ex2" placeholder="Admin">
      </div>
      <div class="col-sm align-items-center">
        <label for="ex3"><i class="bi bi-pencil-square"></i> </label>
      </div>
    </div>

    <br>

    <div class="form-group row border-b">
      <div class="col-sm">
        <label for="ex1" id="ex1">Contraseña</label>
      </div>
      <div class="col-sm">
        <input type="text" readonly class="form-control-plaintext" id="ex2" placeholder="******">
      </div>
      <div class="col-sm align-items-center">
        <label for="ex3"><i class="bi bi-pencil-square"></i> </label>
      </div>
    </div>

    <br>

    <div class="form-group row border-b">
      <div class="col-sm">
        <label for="ex1" id="ex1">E-mail</label>
      </div>
      <div class="col-sm">
        <input type="text" readonly class="form-control-plaintext" id="ex2" placeholder="admindios@gmail.com">
      </div>
      <div class="col-sm align-items-center">
        <label for="ex3"><i class="bi bi-pencil-square"></i> </label>
      </div>
    </div>
  </form>
</div>
