<div class="container">
  <h5>Datos Cliente</h5>

  <form>
    <div class="form-group row" id="info">
      <div class="col-sm">
        <label for="ex1" id="ex1">Nombre</label>
      </div>
      <div class="col-sm">
        <label for="ex1" id="ex1">Categoria</label>
      </div>
      <div class="col-sm">
        <label for="ex1" id="ex1">Población</label>
      </div>
      <div class="col-sm">
        <label for="ex1" id="ex1">Ubicación</label>
      </div>
      <div class="col-sm">
        <label for="ex1" id="ex1">Precio</label>
      </div>
      <div class="col-sm-1">
      </div>
      <div class="col-sm-1">
      </div>
    </div>

    <br>

    <div class="form-group row" id="datos">
      <div class="col-sm">
        <label for="ex1" class="ex1" >NH</label>
      </div>
      <div class="col-sm">
        <label for="ex1">⭐⭐⭐</label>
      </div>
      <div class="col-sm">
        <label for="ex1" class="ex1">Reus</label>
      </div>
      <div class="col-sm">
        <label for="ex1" class="ex1">41.1444,1.1106272</label>
      </div>
      <div class="col-sm">
        <label for="ex1" class="ex1">50€</label>
      </div>
      <div class="col-sm-1">
        <label for="ex3"><i class="bi bi-pencil-square"></i></label>
      </div>
      <div class="col-sm-1">
        <label for="ex3"><i class="bi bi-trash3"></i></label>
      </div>
    </div>

    <br>

    <div class="form-group row" id="datos">
      <div class="col-sm">
        <label for="ex1" class="ex1" >CG</label>
      </div>
      <div class="col-sm">
        <label for="ex1" class="ex1">⭐⭐</label>
      </div>
      <div class="col-sm">
        <label for="ex1" class="ex1">Reus</label>
      </div>
      <div class="col-sm">
        <label for="ex1" class="ex1">41.1590166,1.1132131</label>
      </div>
      <div class="col-sm">
        <label for="ex1" class="ex1">30€</label>
      </div>
      <div class="col-sm-1">
        <label for="ex3"><i class="bi bi-pencil-square"></i></label>
      </div>
      <div class="col-sm-1">
        <label for="ex3"><i class="bi bi-trash3"></i></label>
      </div>
    </div>

    <br>

    <div class="form-group row" id="datos">
      <div class="col-sm">
        <label for="ex1" class="ex1" >SB</label>
      </div>
      <div class="col-sm">
        <label for="ex1" class="ex1">⭐⭐⭐⭐</label>
      </div>
      <div class="col-sm">
        <label for="ex1" class="ex1">Tarragona</label>
      </div>
      <div class="col-sm">
        <label for="ex1" class="ex1">41.1229899,1.234048</label>
      </div>
      <div class="col-sm">
        <label for="ex1" class="ex1">100€</label>
      </div>
      <div class="col-sm-1">
        <label for="ex3"><i class="bi bi-pencil-square"></i></label>
      </div>
      <div class="col-sm-1">
        <label for="ex3"><i class="bi bi-trash3"></i></label>
      </div>
    </div>

    <br>

    <div class="form-group row" id="datos">
      <div class="col-sm">
        <label for="ex1" class="ex1" >W</label>
      </div>
      <div class="col-sm">
        <label for="ex1" class="ex1">⭐⭐⭐⭐⭐</label>
      </div>
      <div class="col-sm">
        <label for="ex1" class="ex1">Barcelona</label>
      </div>
      <div class="col-sm">
        <label for="ex1" class="ex1">41.3926466,2.069978</label>
      </div>
      <div class="col-sm">
        <label for="ex1" class="ex1">500€</label>
      </div>
      <div class="col-sm-1">
        <label for="ex3"><i class="bi bi-pencil-square"></i></label>
      </div>
      <div class="col-sm-1">
        <label for="ex3"><i class="bi bi-trash3"></i></label>
      </div>
    </div>

  </form>
</div>
