<p class="fw-bold">Filtrar por:</p>
<form>
  <!-- Ociones categoria hotel -->
  <div class="row border-top border-bottom my-5 p-2">

    <div class="col col-md-12">
      <p class="">Categoría</p>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="categoriaCheck1">
        <label class="form-check-label" for="categoriaCheck1">⭐</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="categoriaCheck2">
        <label class="form-check-label" for="categoriaCheck2">⭐⭐</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="categoriaCheck3">
        <label class="form-check-label" for="categoriaCheck3">⭐⭐⭐</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="categoriaCheck4">
        <label class="form-check-label" for="categoriaCheck4">⭐⭐⭐⭐</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="categoriaCheck5">
        <label class="form-check-label" for="categoriaCheck5">⭐⭐⭐⭐⭐</label>
      </div>
    </div>

    <!-- Filtro por coste-->
    <div class="col col-md-12 mt-3">

      <p>Presupuesto por noche</p>
      <div class="form-check">
        <input id="radioPrecio1" type="radio" name="radioPrecio" class="form-check-input">
        <label for="radioPrecio1" class="form-check-label">0€ - 100€</label>
      </div>
      <div class="form-check">
        <input id="radioPrecio2" type="radio" name="radioPrecio" class="form-check-input">
        <label for="radioPrecio2" class="form-check-label">100€ - 150€</label>
      </div>
      <div class="form-check">
        <input id="radioPrecio3" type="radio" name="radioPrecio" class="form-check-input">
        <label for="radioPrecio3" class="form-check-label">150€ - 200€</label>
      </div>
      <div class="form-check">
        <input id="radioPrecio4" type="radio" name="radioPrecio" class="form-check-input">
        <label for="radioPrecio4" class="form-check-label">+200€</label>
      </div>

      <!-- Submit btn-->
      <button type="submit" class="btn btn-dark my-3">Filtrar</button>
    </div>
  </div>

</form>
