<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0" id="barralateral">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">

        <ul class="nav flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100" id="menu">
          <li class="d-block w-100">
            <a href="#menu1" data-bs-toggle="collapse" class="nav-link px-0 align-items-center d-block">
              <i class="bi bi-person-fill"></i><span class="ms-1 d-none d-sm-inline">Datos Empresa</span> </a>
          </li>
          <li>
            <a href="#menu2" class="nav-link px-0 align-middle">
              <i class="bi bi-shield-lock-fill"></i><span class="ms-1 d-none d-sm-inline">Seguridad</span></a>
          </li>
          <li>
            <a href="#menu3" data-bs-toggle="collapse" class="nav-link px-0 align-items-center ">
              <i class="bi bi-book"></i><span class="ms-1 d-none d-sm-inline">Mis Hoteles</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
