<div class="container">
  <h5>Mis reservas</h5>
  <div class="row">
    <div class="col-6 border rounded shadow-sm">
      <form>
        <div class="row ">
          <div class="col-sm-2">
            <label class="ex1">Codigo:</label>
          </div>
          <div class="col-sm">
            <input type="text" readonly class="form-control-plaintext" id="inputCodigo" placeholder="10A">
          </div>
        </div>

        <div class="row">
          <div class="col-sm-2">
            <label class="ex1">Fecha entrada:</label>
          </div>
          <div class="col-sm">
            <input type="text" readonly class="form-control-plaintext" id="inputEntrada" placeholder="24/02/2022">
          </div>
        </div>

        <div class="row">
          <div class="col-sm-2">
            <label class="ex1">Fecha salida:</label>
          </div>
          <div class="col-sm">
            <input type="text" readonly class="form-control-plaintext" id="inputSalida" placeholder="22/02/2022">
          </div>
        </div>

        <div class="row">
          <div class="col-sm-2">
            <label class="ex1">Hotel:</label>
          </div>
          <div class="col-sm">
            <input type="text" readonly class="form-control-plaintext" id="inputSalida" placeholder="Hotel NH Reus">
          </div>
        </div>

        <div class="row">
          <div class="col-sm-2">
            <label class="ex1">Importe reserva: </label>
          </div>
          <div class="col-sm">
            <input type="text" readonly class="form-control-plaintext" id="inputSalida" placeholder="120.00 €">
          </div>
        </div>
      </form>

    </div>
  </div>


</div>
