<div class="container ">
  <h5>Mis reservas</h5>
  <div class="row justify-content-center" *ngIf="!datoreserva.length">
    <p class="col col-md-4 alert alert-secondary text-center">No se ha encontrado resultados.</p>
  </div>
  <div class="row">
    <div class="col col-6 border rounded shadow-sm" *ngFor="let reserva of datoreserva">
    <div class="row" >
      <div class="col-sm-2">
        <label class="ex1">Codigo:</label>
      </div>
      <div class="col-sm">
        <span id="inputCodigo">{{reserva.codigo}}
        </span>
    </div>

    <div class="row" >
      <div class="col-sm-2">
        <label class="ex1">Fecha entrada:</label>
      </div>
      <div class="col-sm">
        <span id="inputCodigo">{{reserva.fecha_entrada | date : 'mediumDate'}}
        </span>
      </div>
    </div>

    <div class="row" >
      <div class="col-sm-2">
        <label class="ex1">Fecha salida:</label>
      </div>
      <div class="col-sm">
        <span id="inputCodigo">{{reserva.fecha_salida | date : 'mediumDate'}}
        </span>
      </div>
    </div>

    <div class="row" >
      <div class="col-sm-2">
        <label class="ex1">Hotel:</label>
      </div>
      <div class="col-sm">
        <span id="inputCodigo">{{reserva.hotel.nombre}}
        </span>
      </div>
    </div>

    <div class="row" >
      <div class="col-sm-2">
        <label class="ex1"> Ubicación:</label>
      </div>
      <div class="col-sm">
        <span id="inputCodigo">{{reserva.hotel.ubicacion}}
        </span>
      </div>
    </div>

    <div class="row" >
      <div class="col-sm-2">
        <label class="ex1">Importe reserva: </label>
      </div>
      <div class="col-sm">
        <span id="inputCodigo">{{reserva.importe_reserva}}
        </span>
      </div>
    </div>
</div>
