<div class="row hotel-card border rounded p-1 p-md-3 my-3">
  <div class="col-md">
    <div class="img-container">
      <img class=""
        [src]="hotel.imagenes != null ? 'http://localhost:8080' + hotel.imagenes : '/assets/images/placeholder_500_300.png'"
        alt="hotel">
    </div>
  </div>
  <div class="col-md text-tarjeta">
    <div>
      <h1>{{hotel.nombre}}</h1>
      <p>{{hotel.categoria | numberToStars}}</p>
    </div>
    <div>
      <p class="text-end">{{hotel.precio | currency:'EUR':'symbol':'1.0-2' : 'es'}}</p>
      <button class="btn shadow-sm"> Reservar </button>
    </div>
  </div>
</div>
