<section id="main-login-section" class="gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card p-5 text-center rounded-4">

          <div class="mb-md-5 mt-md-4 pb-5">

            <h2 class="fw mb-2 text-uppercase">Iniciar Sesión</h2>
            <br>
            <!-- Form -->
            <form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()">

              <div class="form-outline form-white mb-4">
                <input type="email" class="form-control form-control-lg" placeholder="Usuario" formControlName="username"/>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="password" class="form-control form-control-lg"
                  placeholder="Contraseña" formControlName="password"/>

              </div>

              <button class="btn px-5 fs-5" type="submit">Entrar</button>

            </form>
            <!-- Validation errors -->
            <ul class="alert alert-danger mt-3"
              *ngIf="loginFormGroup.invalid && (loginFormGroup.dirty || loginFormGroup.touched)">

              <li class="m-1 p-0 " *ngIf="loginFormGroup.get('username')?.errors?.['required']">
                Username is required.
              </li>
              <li class="m-1 p-0 " *ngIf="loginFormGroup.get('password')?.errors?.['required']">
                Password is required.
              </li>

            </ul>
          </div>

          <div>
            <p class="mb-0">Aún no te has registrado? <a href="#!" class="text ">Registrate!</a>
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>
