
.titulo{
  margin-top: 20px;
  font-weight: bold;
}

.bi{
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  margin-left: 20px;
}



h5{
  margin-top: 30px;
  margin-bottom: 60px;
}

hr {
  border-width: 2px;
  border-color: #7cdeb4;
}

.col {
  padding: 5px;
  padding-left: 25px;

}

/* img {
  width: 27rem;
  margin-top: 5px;
} */


