<div class="container">
  <h5>Mis hoteles</h5>
  <div class="row">
    <div class="col col-6 border rounded shadow-sm" *ngFor="let hotel of datohoteles.hotel">
    <div class="row" >
      <div class="col-sm-2">
        <label class="ex1">Nombre:</label>
      </div>
      <div class="col-sm">
        <span id="inputCodigo">{{hotel.nombre}}
        </span>
    </div>

    <div class="row" >
      <div class="col-sm-2">
        <label class="ex1">Categoria:</label>
      </div>
      <div class="col-sm">
        <span id="inputCodigo">{{hotel.categoria | numberToStars}}
        </span>
      </div>
    </div>

    <div class="row" >
      <div class="col-sm-2">
        <label class="ex1">Población:</label>
      </div>
      <div class="col-sm">
        <span id="inputCodigo">{{hotel.poblacion}}
        </span>
      </div>
    </div>

    <div class="row" >
      <div class="col-sm-2">
        <label class="ex1">Ubicación:</label>
      </div>
      <div class="col-sm">
        <span id="inputCodigo">{{hotel.ubicacion}}
        </span>
      </div>
    </div>

    <div class="row" >
      <div class="col-sm-2">
        <label class="ex1"> Precio:</label>
      </div>
      <div class="col-sm">
        <span id="inputCodigo">{{hotel.precio}}
        </span>
      </div>
    </div>
</div>
