<div class="container">

<h3 class="mt-5">Buscador alojamiento</h3>

  <form [formGroup]="formularioContacto" (ngSubmit)="submit()" required>
      <div class="form">

        <div class="row">
            <div class="col-md-2">
              <label for="entrada"></label>
              <select class="form-select" aria-label="Destino" formControlName="destino" required>
                <option value="1">Reus</option>
                <option value="2">Tarragona</option>
                <option value="3">Barcelona</option>
              </select>
              <span *ngIf="this.formularioContacto.get('destino')?.errors?.['required']">
                Debe elegir un destino
              </span>
            </div>

            <div id="buscadorPeople"class="col-md-2">
              <label for="personas">
              <input  type="number" class="form-control" formControlName="personas" aria-label="Personas" required>
              <span *ngIf="this.formularioContacto.get('personas')?.errors?.['required']">
                Elige la cantidad de personas
              </span>
              <span *ngIf="this.formularioContacto.get('personas')?.errors?.['maxlength']">
                Máximo 30 personas
              </span>

            </label>
            </div>


            <div class="col-md">
                <mat-form-field [color]="'accent'" appearance="fill" >
                  <mat-date-range-input [rangePicker]="picker" [min]="maxDate">
                    <input matStartDate placeholder="CheckIn" formControlName="fechaEntrada" required>
                    <input matEndDate placeholder="CheckOut" formControlName="fechaSalida" required>
                    <mat-hint> {{getDateFormatString()}} </mat-hint>
                  </mat-date-range-input>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
                <div id="mssgCheck">
                  <span *ngIf="this.formularioContacto.get('fechaEntrada')?.errors?.['required']">
                    Elige fecha de Entrada
                  </span>
                  <span *ngIf="this.formularioContacto.get('fechaSalida')?.errors?.['required']">
                    Elige fecha de Salida
                  </span>
                </div>
            </div>

        </div>
      </div>

      <a class="btn btn-light" routerLink="/resultado-busqueda" type="submit">Buscar</a>

  </form>
</div>
