<div class="container">
  <h5>Datos Empresas</h5>

  <form>
    <div class="form-group row" id="linia">
      <div class="col-sm">
        <label for="ex1" id="ex1">Código Empresa</label>
      </div>
      <div class="col-sm">
        <input type="text" readonly class="form-control-plaintext" id="ex2" placeholder="123456" >
      </div>
      <div class="col-sm align-items-center">
        <label for="ex3"><i class="bi bi-pencil-square"></i> </label>
        <label for="ex4"><i class="bi bi-trash"></i> </label>
      </div>
    </div>

    <br>

    <div class="form-group row" id="linia">
      <div class="col-sm">
        <label for="ex1" id="ex1">Nombre</label>
      </div>
      <div class="col-sm">
        <input type="text" readonly class="form-control-plaintext" id="ex2" placeholder="Xiquis S.L" >
      </div>
      <div class="col-sm align-items-center">
        <label for="ex3"><i class="bi bi-pencil-square"></i> </label>
        <label for="ex4"><i class="bi bi-trash"></i> </label>
      </div>
    </div>
  </form>
</div>
