h3 {
  text-align: left;
  padding-top: 150px;
  padding-bottom: 8px;
  font-weight: bold;

}

.cards {
  
}
.card {
  display: inline-block;
  margin-top: 20px;
  height: auto;
  margin-right: 40px;
}

img {
  width: 318px;
  height: 200px;
}

a {
  background-color: #77b0d4;
  color: aliceblue;
}
