<div id="barralateral">

  <ul class="nav align-items-center w-100 mt-4">
    <li class="d-block w-100">
      <a id="cuenta" class="nav-link px-0 align-items-center selected" (click)="cambiarApartado('cuenta')">
        <i class="bi bi-shield-check"></i><span class="ms-1 d-none d-md-inline">Cuenta</span> </a>
    </li>
    <li class="d-block w-100">
      <a id="clientes" class="nav-link px-0 align-items-center" (click)="cambiarApartado('clientes')">
        <i class="bi bi-person-fill"></i><span class="ms-1 d-none d-md-inline">Cliente</span> </a>
    </li>
    <li class="d-block w-100">
      <a id="hoteles" class="nav-link px-0 align-items-center" (click)="cambiarApartado('hoteles')">
        <i class="bi bi-star"></i><span class="ms-1 d-none d-md-inline">Hotel</span></a>
    </li>
    <li class="d-block w-100">
      <a id="reservas" class="nav-link px-0 align-items-center" (click)="cambiarApartado('reservas')">
        <i class="bi bi-book"></i><span class="ms-1 d-none d-md-inline">Reserva</span></a>
    </li>
    <li class="d-block w-100">
      <a id="empresas" class="nav-link px-0 align-items-center" (click)="cambiarApartado('empresas')">
        <i class="bi bi-briefcase"></i><span class="ms-1 d-none d-md-inline">Empresa</span></a>
    </li>
  </ul>

</div>
