
<div class="container">
  <h5>Datos Hotel</h5>


    <div class="row" >
      <div class="col-sm">
        <label class="ex1">Nombre</label>
      </div>
      <div class="col-sm">
        <input type="text" readonly class="form-control-plaintext" id="inputNombre" placeholder="NH" >
      </div>
      <div class="col-sm align-items-center">
        <label><i class="bi bi-pencil-square"></i> </label>
        <label><i class="bi bi-trash"></i> </label>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-sm">
        <label class="ex1">Categoria</label>
      </div>
      <div class="col-sm">
        <input type="text" readonly class="form-control-plaintext" id="inputCategoria" placeholder="⭐⭐⭐" >
      </div>
      <div class="col-sm align-items-center">
        <label ><i class="bi bi-pencil-square"></i> </label>
        <label><i class="bi bi-trash"></i> </label>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-sm">
        <label class="ex1">Población</label>
      </div>
      <div class="col-sm">
        <input type="email" readonly class="form-control-plaintext" id="inputCiudad" placeholder="Reus" >
      </div>
      <div class="col-sm align-items-center">
        <label><i class="bi bi-pencil-square"></i> </label>
        <label><i class="bi bi-trash"></i> </label>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-sm">
        <label class="ex1">Ubicación</label>
      </div>
      <div class="col-sm">
        <input type="text" readonly class="form-control-plaintext" id="inputUbicacion" placeholder="41.1444, 1.1106272" >
      </div>
      <div class="col-sm align-items-center">
        <label><i class="bi bi-pencil-square"></i> </label>
        <label><i class="bi bi-trash"></i> </label>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-sm">
        <label class="ex1">Precio</label>
      </div>
      <div class="col-sm">
        <input type="text" readonly class="form-control-plaintext" id="inputPrecio" placeholder="Precio" >
      </div>
      <div class="col-sm align-items-center">
        <a><i class="bi bi-pencil-square"></i> </a>
        <a><i class="bi bi-trash"></i> </a>
      </div>
    </div>

</div>
