/*
general
*/
.vh100 {
  min-height: 100vh;
}

/*
listas / tablas
*/

f.titulo {
  margin-top: 30px;
  font-weight: bold;
}

.bi {
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
}

.ex1 {
  text-align: left;
  padding-top: 5px;
}

.info-header {
  font-weight: bold;
  text-align: left;
}

.datos {
  border-bottom: 1px #7CDEB4 solid;

}

h5 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.table>div:nth-child(even) {
  background-color: #F1F9F8;
}

.td-id {
  width: 50px;
  text-align: center;
}

.td-btn {
  width: 4em;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/*
editable form
*/

.transparent-border-2px {
  border: 1px solid transparent;
  padding: 5px;
}

.editable-form-field {
  background-color: aliceblue;
  border: 1px solid gray;
  border-radius: 5px;
}

/*
botones editar
*/

.btn-labeled {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
}

.btn-label {
  position: relative;
  left: -12px;
  display: inline-block;
  padding: 0px 5px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 3px 0 0 3px;
}