
<div class="container">
  <h5 class="fw-bold">Mis hoteles</h5>


    <div class="row" >
      <div class="col-sm-2">
        <label class="ex1">Nombre:</label>
      </div>
      <div class="col-sm">
        <input type="text" readonly class="form-control-plaintext" id="inputNombre" placeholder="NH Reus" >
      </div>
    </div>

    <div class="row" >
      <div class="col-sm-2">
        <label class="ex1">Categoria:</label>
      </div>
      <div class="col-sm">
        <input type="text" readonly class="form-control-plaintext" id="inputCategoria" placeholder="⭐⭐⭐⭐" >
      </div>
    </div>

    <div class="row" >
      <div class="col-sm-2">
        <label class="ex1">Población: </label>
      </div>
      <div class="col-sm">
        <input type="text" readonly class="form-control-plaintext" id="inputPoblacion" placeholder="Reus" >
      </div>
    </div>

    <div class="row" >
      <div class="col-sm-2">
        <label class="ex1">Ubicación: </label>
      </div>
      <div class="col-sm">
        <input type="text" readonly class="form-control-plaintext" id="inputUbicacion" placeholder="Av. Marià Fortuny, 85" >
      </div>
    </div>


    <div class="row" >
      <div class="col-sm-2">
        <label class="ex1">Precio: </label>
      </div>
      <div class="col-sm">
        <input type="text" readonly class="form-control-plaintext" id="inputPrecio" placeholder="120.00 €" >
      </div>
    </div>



    <hr>


    <div class="row" >
      <div class="col-sm-2">
        <label class="ex1">Nombre:</label>
      </div>
      <div class="col-sm">
        <input type="text" readonly class="form-control-plaintext" id="inputNombre" placeholder="Catalonia Port" >
      </div>
    </div>

    <div class="row" >
      <div class="col-sm-2">
        <label class="ex1">Categoria:</label>
      </div>
      <div class="col-sm">
        <input type="text" readonly class="form-control-plaintext" id="inputCategoria" placeholder="⭐⭐⭐⭐" >
      </div>
    </div>

    <div class="row" >
      <div class="col-sm-2">
        <label class="ex1">Población: </label>
      </div>
      <div class="col-sm">
        <input type="text" readonly class="form-control-plaintext" id="inputPoblacion" placeholder="Barcelona" >
      </div>
    </div>

    <div class="row" >
      <div class="col-sm-2">
        <label class="ex1">Ubicación: </label>
      </div>
      <div class="col-sm">
        <input type="text" readonly class="form-control-plaintext" id="inputUbicacion" placeholder="Ample, 1 (Plaça Duc de Medinaceli) Ciutat Vella" >
      </div>
    </div>


    <div class="row" >
      <div class="col-sm-2">
        <label class="ex1">Precio: </label>
      </div>
      <div class="col-sm">
        <input type="text" readonly class="form-control-plaintext" id="inputPrecio" placeholder="100.00 €" >
      </div>
    </div>


    <hr>

</div>
