<div class="container my-5">

  <h3>Descubre nuevos destinos</h3>
  <div class=" row justify-content-center">


    <div class="card border-light col-md-4 m-auto" style="width: 20rem; ">
      <img src="../../assets/img/hotelreus.jpg" class="img-fluid" alt="...">
      <div class="card-body">
        <h5 class="card-title">Reus</h5>
        <p class="card-text">Ciudad capital del Baix Camp volcada en la cultura, se considera un auténtico santuario de la arquitectura modernista, por sus edificios emblemáticos.</p>
        <a class="btn btn-light" routerLink="/resultado-busqueda">Descubre</a>
      </div>
    </div>

    <div class="card border-light col-md-4 m-auto" style="width: 20rem;">
      <img src="../../assets/img/h10-marina-barcelona.jpg" class="img-fluid" alt="...">
      <div class="card-body">
        <h5 class="card-title">Barcelona</h5>
        <p class="card-text">Situada a orillas del Mediterráneo, Barcelona es una ciudad cosmopolita con una gran importancia tanto cultural, como comercial y turística. </p>
        <a class="btn btn-light" routerLink="/resultado-busqueda">Descubre</a>
      </div>
    </div>

    <div class="card border-light col-md-4 m-auto" style="width: 20rem;">
      <img src="../../assets/img/hotelTgn.jpg" class="img-fluid" alt="...">
      <div class="card-body">
        <h5 class="card-title">Tarragona</h5>
        <p class="card-text">Viaja en el tiempo donde descubrirás una cuidad donde se convive diariamente con su pasado romano y medieval.</p>
        <a class="btn btn-light" routerLink="/resultado-busqueda">Descubre</a>
      </div>
    </div>

  </div>

</div>




