h3 {
  text-align: left;
  font-weight: bold;
}

.card {
  display: inline-block;
  margin-top: 20px;
  height: auto;
  margin-right: 40px;
}

img {
  width: 318px;
  height: 200px;
}

.btn-light{
  background-color: #77b0d4;
  margin-top: 25px;
  color: #F6FEFF;
}
