<div class="container">

  <h3>Descubre nuevos destinos</h3>

  <div class="cards">

    <div class="card border-light" style="width: 20rem;">
      <img src="../../assets/img/4066518_v5.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Reus</h5>
        <p class="card-text">Ciudad capital del Baix Camp volcada en la cultura, se considera un auténtico santuario de la arquitectura modernista, por sus edificios emblemáticos.</p>
        <a href="#" class="btn btn-light">Descubre</a>
      </div>
    </div>

    <div class="card border-light" style="width: 20rem;">
      <img src="../../assets/img/h10-marina-barcelona.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Barcelona</h5>
        <p class="card-text">Situada a orillas del Mediterráneo, Barcelona es una ciudad cosmopolita con una gran importancia tanto cultural, como comercial y turística. </p>
        <a href="#" class="btn btn-light">Descubre</a>
      </div>
    </div>

    <div class="card border-light" style="width: 20rem;">
      <img src="../../assets/img/Home_Ciutat_6_Jacuzzi_Suite1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Tarragona</h5>
        <p class="card-text">Viaja en el tiempo donde descubrirás una cuidad donde se convive diariamente con su pasado romano y medieval.</p>
        <a href="#" class="btn btn-light">Descubre</a>
      </div>
    </div>
  </div>




