<div class="container">
  <h5>Datos cuenta</h5>

  <form [formGroup]="formEditUser">
    <div class="form-group row border-b my-4">
      <div class="col-sm">
        <label class="ex1">Usuario</label>
      </div>
      <div class="col-sm">
        <!-- Username input -->
        <input type="text" [readonly]=disabled [ngClass]="{'edit-border': !disabled}"
          class="form-control-plaintext transparent-border-2px" id="usernameInput"
          placeholder="{{usuarioLoguado.username}}" formControlName="username">
      </div>

    </div>
    <div class="form-group row border-b my-4">

      <div class="col-sm">
        <label class="ex1">Contraseña</label>
      </div>
      <div class="col-sm">
        <!-- Password input -->
        <input type="password" [readonly]=disabled [ngClass]="{'edit-border': !disabled}"
          class="form-control-plaintext transparent-border-2px" id="passwordInput" placeholder="******"
          formControlName="password">
      </div>

    </div>
    <div class="form-group row border-b my-4">
      <div class="col-sm">
        <label class="ex1">E-mail</label>
      </div>
      <div class="col-sm">
        <!-- Email input -->
        <input type="text" [readonly]=disabled [ngClass]="{'edit-border': !disabled}"
          class="form-control-plaintext transparent-border-2px" id="emailInput" placeholder="{{usuarioLoguado.email}}"
          formControlName="email">
      </div>

    </div>
  </form>
  <!-- Edit buttons, confirmar cancelar-->
  <div class="row my-4">
    <div class="col-md"></div>
    <div class="col-md-2 my-2">
      <button class="btn btn-warning" *ngIf="disabled" (click)="editar()">Editar</button>

      <button type="button" class="btn btn-labeled btn-danger mb-4 me-2" *ngIf="!disabled" (click)="cancelarCambios()">
        <span class="btn-label"><i class="bi bi-x text-light"></i></span>Cancelar</button>
      <button type="button" class="btn btn-labeled btn-success mb-2 me-2" *ngIf="!disabled" (click)="aceptarCambios()"
        type="submit">
        <span class="btn-label"><i class="bi bi-check text-light"></i></span>Aceptar</button>

    </div>
    <!-- Eliminar btn -->
    <!-- <div class="col-md-2 my-2"><button class="btn btn-danger" (click)="eliminar()">Eliminar</button></div> -->
  </div>

</div>
