<div class="container">
  <h5>Lista Clientes</h5>

  <form>
    <div class="form-group row" id="info">
      <div class="col-sm">
        <label for="ex1" id="ex1">Nombre</label>
      </div>
      <div class="col-sm">
        <label for="ex1" id="ex1">Apellido</label>
      </div>
      <div class="col-sm">
        <label for="ex1" id="ex1">E-mail</label>
      </div>
      <div class="col-sm">
        <label for="ex1" id="ex1">DNI</label>
      </div>
      <div class="col-sm-1">
      </div>
      <div class="col-sm-1">
      </div>
    </div>

    <br>

    <div class="form-group row" id="datos">
      <div class="col-sm">
        <label for="ex1" class="ex1" >Aida</label>
      </div>
      <div class="col-sm">
        <label for="ex1" class="ex1">Queralt</label>
      </div>
      <div class="col-sm">
        <label for="ex1" class="ex1">aidaq@gmail.com</label>
      </div>
      <div class="col-sm">
        <label for="ex1" class="ex1">123456789-L</label>
      </div>
      <div class="col-sm-1">
        <a role="button" (click)="cambiarApartado('cliente')"><i class="bi bi-pencil-square"></i></a>
      </div>
      <div class="col-sm-1">
        <a role="button"><i class="bi bi-trash3"></i></a>
      </div>
    </div>

    <br>

    <div class="form-group row" id="datos">
      <div class="col-sm">
        <label for="ex1" class="ex1" >Gerard</label>
      </div>
      <div class="col-sm">
        <label for="ex1" class="ex1">Sanchez</label>
      </div>
      <div class="col-sm">
        <label for="ex1" class="ex1">gerards@gmail.com</label>
      </div>
      <div class="col-sm">
        <label for="ex1" class="ex1">98745632-P</label>
      </div>
      <div class="col-sm-1">
        <label for="ex3"><i class="bi bi-pencil-square"></i></label>
      </div>
      <div class="col-sm-1">
        <label for="ex3"><i class="bi bi-trash3"></i></label>
      </div>
    </div>

    <br>

    <div class="form-group row" id="datos">
      <div class="col-sm">
        <label for="ex1" class="ex1" >Gerard</label>
      </div>
      <div class="col-sm">
        <label for="ex1" class="ex1">Viñuela</label>
      </div>
      <div class="col-sm">
        <label for="ex1" class="ex1">gerardv@gmail.com</label>
      </div>
      <div class="col-sm">
        <label for="ex1" class="ex1">74125896-K</label>
      </div>
      <div class="col-sm-1">
        <label for="ex3"><i class="bi bi-pencil-square"></i></label>
      </div>
      <div class="col-sm-1">
        <label for="ex3"><i class="bi bi-trash3"></i></label>
      </div>
    </div>

    <br>

    <div class="form-group row" id="datos">
      <div class="col-sm">
        <label for="ex1" class="ex1" >Constantin</label>
      </div>
      <div class="col-sm">
        <label for="ex1" class="ex1">Vlad</label>
      </div>
      <div class="col-sm">
        <label for="ex1" class="ex1">constantv@gmail.com</label>
      </div>
      <div class="col-sm">
        <label for="ex1" class="ex1">25896374-Q</label>
      </div>
      <div class="col-sm-1">
        <label for="ex3"><i class="bi bi-pencil-square"></i></label>
      </div>
      <div class="col-sm-1">
        <label for="ex3"><i class="bi bi-trash3"></i></label>
      </div>
    </div>

  </form>
</div>
