.card{
  box-shadow: 15px 15px 3px #3335;
}

.form-outline input{
  display: block;
  margin: auto;
  width: 80%;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #F1EAEA;
  border: none;
  box-shadow: inset 2px 2px 2px #999;
}

 .button{
   letter-spacing: 0.1em;
   border: none;
   color: white;
   background: #79C7BB;
   box-shadow: 4px 4px 2px #4c857c;
   display: block;
   width: 80%;
   height: 70px;
   border-radius: 0.5rem;
   margin: auto;
 }

.gradient-custom{
  background: #6EA5C9 ;
}

.text-uppercase {
  color:#79C7BB
}

.mb-0{
  color:#79C7BB
}

.btn-group{
  letter-spacing: 0.2em;
  color: rgb(255, 255, 255) !important;
  background-color: #77B0D4;
  text-align: center;
  box-shadow: 4px 4px 2px #707d86;
  width: 80%;
  height: 60px;
  border-radius: 0.5rem;
  margin: auto;
}

.btncolor1{
  background-color: #eee;
  padding-top: 5%;
  border: none;
}

#main-registro-section {
  min-height: 100vh;
}
